[submodule "sway/.local/share/backgrounds/catppuccin"]
	path = backgrounds/.local/share/backgrounds/catppuccin
	url = https://github.com/catppuccin/wallpapers.git
[submodule "nerd-fonts/.local/share/nerd-fonts"]
	path = nerd-fonts/.local/share/nerd-fonts
	url = https://github.com/ryanoasis/nerd-fonts.git
