[submodule "sway/.local/share/backgrounds/catppuccin"]
	path = catppuccin/.local/share/catppuccin/wallpapers
	url = https://github.com/catppuccin/wallpapers.git
[submodule "nerd-fonts/.local/share/nerd-fonts"]
	path = nerd-fonts/.local/share/nerd-fonts
	url = https://github.com/ryanoasis/nerd-fonts.git
[submodule "google-fonts/.local/share/google-fonts"]
	path = google-fonts/.local/share/google-fonts
	url = https://github.com/google/fonts.git
[submodule "catppuccin/.local/share/catppuccin/btop"]
	path = catppuccin/.local/share/catppuccin/btop
	url = https://github.com/catppuccin/btop.git
[submodule "catppuccin/.local/share/catppuccin/tmux"]
	path = catppuccin/.local/share/catppuccin/tmux
	url = https://github.com/catppuccin/tmux.git
[submodule "catppuccin/.local/share/catppuccin/kitty"]
	path = catppuccin/.local/share/catppuccin/kitty
	url = https://github.com/catppuccin/kitty.git
