* {
  font-family: VictorMono Nerd Font;
  min-height: 0;
  min-width: 0;
}

window#waybar {
  background-color: transparent;
}

window#waybar.empty #window {
  background-color: transparent;
}

tooltip {
  background-color: alpha(@theme_base_color, 0.9);
}
tooltip label {
  color: @theme_text_color;
}

#window {
  background-color: alpha(@theme_base_color, 0.9);
  border-radius: 9999px;
  color: @theme_text_color;
  font-size: 20px;
  font-style: italic;
  margin: 20px 20px 20px 0;
  padding: 0.5em;
}

#workspaces button {
  background-color: alpha(@theme_bg_color, 0.9);
  border-radius: 9999px;
  color: @theme_fg_color;
  font-size: 10px;
  margin: 20px 20px 0 0;
  padding: 0.5em;
}

#workspaces button.focused {
  background-color: @theme_selected_bg_color;
  color: @theme_selected_fg_color;
}

#mode, #clock, #battery {
  border-radius: 9999px;
  font-size: 10px;
  margin: 0 20px 20px 0;
  padding: 0.5em;
}

#mode {
  background-color: @insensitive_bg_color;
  color: @insensitive_fg_color;
  margin-top: 20px;
}

#clock {
  background-color: @insensitive_bg_color;
  color: @insensitive_fg_color;
}

#battery {
  background-color: alpha(@theme_bg_color, 0.9);
  color: @theme_fg_color;
}

#battery.charging {
  color: @success_color;
}

@keyframes blink {
  to {
    background-color: alpha(@theme_bg_color, 0.9);
    color: @theme_fg_color;
  }
}

#battery.warning:not(.charging) {
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
  color: @error_color;
}
