#!/bin/sh
# ~/.aliases - List of aliases.
# Created by Konosuke Sakai <w32w64@gmail.com>, May 8, 2022.
# Released into the MIT License.

#
# 7z
#

# Compress
7zs() {
  local directories=("$@")
  find "${directories[@]}" -maxdepth 1 -mindepth 1 -printf '%p.7z\0%p\0' | xargs -0 -P 0 -n 2 7za -mmt$(nproc) -mx1 -sdel a
}

# Best Compress
7zs-best() {
  local directories=("$@")
  find "${directories[@]}" -maxdepth 1 -mindepth 1 -printf '%p.7z\0%p\0' | xargs -0 -P 0 -n 2 7za -mmt$(nproc) -mx9 -sdel a
}

# Uncompress
un7zs() {
  local directories=("$@")
  find "${directories[@]}" -maxdepth 1 -type f -name '*.7z' -print0 | xargs -0 -P 0 -n 1 7za x
  find "${directories[@]}" -maxdepth 1 -type f -name '*.7z' -print0 | xargs -0 -P 0 rm
}

#
# bat
#
alias cat='bat'

#
# cd
#
alias ..='cd ..'

#
# clear
#
alias c='clear'

#
# df
#
alias df='df -h'

#
# du
#
alias du='du -h'

#
# file
#
files() {
  local directories=("$@")
  find "${directories[@]}" -maxdepth 1 -print0 | xargs -0 -P 0 file
}

#
# find
#
alias fg='find | grep'

#
# git
#
alias g='git'
alias ga='git add'
alias gap='git add -p'
alias gb='git branch'
alias gch='git checkout'
alias gcl='git clone'
alias gd='git diff'
alias gcm='git commit'
alias gf='git fetch'
alias gg='git grep'
alias gi='git init'
alias gl='git log'
alias gl1='git log -1'
alias glg='git log --graph'
alias gll='git log --pretty=fuller'
alias gll1='git log --pretty=fuller -1'
alias gllp='git log --patch --pretty=fuller'
alias gllp1='git log --patch --pretty=fuller -1'
alias gllps='git log --patch --pretty=fuller --stat'
alias gllps1='git log --patch --pretty=fuller --stat -1'
alias gllps1f='git log --patch --pretty=fuller --stat -1 --follow'
alias gllpsf='git log --patch --pretty=fuller --stat --follow'
alias glo='git log --pretty=oneline'
alias glo1='git log --pretty=oneline -1'
alias glog1f='git log --graph --pretty=oneline -1 --follow'
alias glogf='git log --graph --pretty=oneline --follow'
alias glogs='git log --graph --pretty=oneline --stat'
alias glogs1='git log --graph --pretty=oneline --stat -1'
alias glogs1f='git log --graph --pretty=oneline --stat -1 --follow'
alias glogsf='git log --graph --pretty=oneline --stat --follow'
alias glp='git log --patch'
alias glp1='git log --patch -1'
alias gmr='git merge'
alias gmv='git mv'
alias gpl='git pull'
alias gps='git push'
alias gps!='git push --force-with-lease'
alias grb='git rebase'
alias grt='git reset'
alias grth='git reset --hard'
alias grtm='git reset --mixed'
alias grts='git reset --soft'
alias grr='git restore'
alias grm='git rm'
alias gst='git status'
alias gsw='git switch'
alias gt='git tag'

gcm-amend-date() {
  local date_string="$@"
  git commit --amend --date "$(date --iso-8601=seconds -d "$date_string")" --no-edit
  git rebase --committer-date-is-author-date HEAD~
}

#
# grep
#
alias egrep='grep --color=auto'
alias grep='grep --color=auto'

#
# gzip
#

# Compress
gzips() {
  local directories=("$@")
  find "${directories[@]}" -maxdepth 1 -type f -print0 | xargs -0 -P 0 -n 1 gzip --fast
}

# Best Compress
gzips-best() {
  local directories=("$@")
  find "${directories[@]}" -maxdepth 1 -type f -print0 | xargs -0 -P 0 -n 1 gzip --best
}

# Uncompress
gunzips() {
  local directories=("$@")
  find "${directories[@]}" -maxdepth 1 -type f -name '*.gz' -print0 | xargs -0 -P 0 -n 1 gunzip
}

# history
alias hg='history | grep'

#
# ls
#
alias l='ls'
alias la='ls -A'
alias ll='ls -al'
alias ls='ls --color=auto -h'

#
# lz4
#

# Compress
lz4s() {
  local directories=("$@")
  find "${directories[@]}" -maxdepth 1 -type f -print0 | xargs -0 -P 0 -n 1 lz4 --fast --rm
}

# Best Compress
lz4s-best() {
  local directories=("$@")
  find "${directories[@]}" -maxdepth 1 -type f -print0 | xargs -0 -P 0 -n 1 lz4 --best --rm
}

# Uncompress
unlz4s() {
  local directories=("$@")
  find "${directories[@]}" -maxdepth 1 -type f -name '*.lz4' -print0 | xargs -0 -P 0 -n 1 lz4 --rm -d
}

#
# mkdir
#
alias mkdir='mkdir -p -v'

#
# npm
#
alias n='npm'
alias na='npm install'
alias ncr='npm create'
alias ni='npm init'
alias nr='npm uninstall'
alias nvmj='npm version major'
alias nvmr='npm version minor'
alias nvp='npm version patch'

#
# nvim
#
alias e='nvim'

#
# pnpm
#
alias p='pnpm'
alias pa='pnpm add'
alias pcr='pnpm create'
alias pis='pnpm install'
alias pit='pnpm init'
alias pr='pnpm remove'

#
# rm
#
alias rm='rm -i -v'
alias rm!='rm -f'

#
# stat
#
stats() {
  local directories=("$@")
  find "${directories[@]}" -maxdepth 1 -print0 | xargs -0 -P 0 stat
}

#
# tar
#
alias flat='flat-lz4'
alias flat-best='flat-lz4-best'
alias unflat='unflat-lz4'

alias flat-gzip='tars && gzips'
alias flat-gzip-best='tars && gzips-best'
alias unflat-gzip='gunzips && untars'

alias flat-lz4='tars && lz4s'
alias flat-lz4-best='tars && lz4s-best'
alias unflat-lz4='unlz4s && untars'

alias flat-xz='tars && xzs'
alias flat-xz-best='tars && xzs-best'
alias unflat-xz='unxzs && untars'

alias flat-zstd='tars && zstds'
alias flat-zstd-best='tars && zstds-best'
alias unflat-zstd='unzstds && untars'

# Archive
tars() {
  local directories=("$@")
  find "${directories[@]}" -maxdepth 1 -mindepth 1 -type d -printf '%p.tar\0%p\0' | xargs -0 -P 0 -n 2 tar --create --remove-files -f
}

# Unarchive
untars() {
  local directories=("$@")
  find "${directories[@]}" -maxdepth 1 -type f -name '*.tar' -print0 | xargs -0 -P 0 -n 1 tar --extract -f
  find "${directories[@]}" -maxdepth 1 -type f -name '*.tar' -print0 | xargs -0 -P 0 rm
}

#
# task
#
alias ts='task'

#
# timew
#
alias tm='timew'

#
# tweet
#
alias t='tweet'
alias tw='tweet'

#
# xz
#

# Compress
xzs() {
  local directories=("$@")
  find "${directories[@]}" -maxdepth 1 -type f -print0 | xargs -0 -P 0 -n 1 xz -0
}

# Best Compress
xzs-best() {
  local directories=("$@")
  find "${directories[@]}" -maxdepth 1 -type f -print0 | xargs -0 -P 0 -n 1 xz -9
}

# Uncompress
unxzs() {
  local directories=("$@")
  find "${directories[@]}" -maxdepth 1 -type f -name '*.xz' -print0 | xargs -0 -P 0 -n 1 unxz
}

#
# ZIP
#

# Compress
zips() {
  local directories=("$@")
  find "${directories[@]}" -maxdepth 1 -mindepth 1 -printf '%p.zip\0%p\0' | xargs -0 -P 0 -n 2 7za -mmt$(nproc) -mx1 -sdel a
}

# Best Compress
zips-best() {
  local directories=("$@")
  find "${directories[@]}" -maxdepth 1 -mindepth 1 -printf '%p.zip\0%p\0' | xargs -0 -P 0 -n 2 7za -mmt$(nproc) -mx9 -sdel a
}

# Uncompress
unzips() {
  local directories=("$@")
  find "${directories[@]}" -maxdepth 1 -type f -name '*.zip' -print0 | xargs -0 -P 0 -n 1 7za x
  find "${directories[@]}" -maxdepth 1 -type f -name '*.zip' -print0 | xargs -0 -P 0 rm
}

#
# zstd
#

# Compress
zstds() {
  local directories=("$@")
  find "${directories[@]}" -maxdepth 1 -type f -print0 | xargs -0 -P 0 -n 1 zstd --auto-threads=logical --fast --rm
}

# Best Compress
zstds-best() {
  local directories=("$@")
  find "${directories[@]}" -maxdepth 1 -type f -print0 | xargs -0 -P 0 -n 1 zstd --auto-threads=logical --rm --ultra -22
}

# Uncompress
unzstds() {
  local directories=("$@")
  find "${directories[@]}" -maxdepth 1 -type f -name '*.zst' -print0 | xargs -0 -P 0 -n 1 zstd --rm -d
}

